body,
html {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    
}
body {
    overflow: hidden;
}
#main-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

.content-container {
    position: relative;
    max-width: 1280px;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.1); */
    
}